body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  scroll-behavior: smooth; /* スムーズスクロールを有効にする */
}

h2 {
  text-align: center;
  color: #333;
}

.sticky-nav {
  position: -webkit-sticky; /* Safari用 */
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
}

nav ul li a:hover {
  text-decoration: underline;
}

.section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}